/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  min-width: 1200px;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
}
html {
  background-size: 100%;
  background-color: white;
  background-image: url('@&bg-spot.png&');
  background-repeat: no-repeat;
}
/* 清除浮动 */
.clear {
  clear: both;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #c00;
  text-decoration: underline;
}
.o-topBar {
  margin-bottom: 27%;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}